//  _        ___                                      ___ _
// | |      / __)_                                   / __|_)
// | | ____| |__| |_ _ _ _ ____      ____ ___  ____ | |__ _  ____    ____ ___  ____
// | |/ _  )  __)  _) | | |    \    / ___) _ \|  _ \|  __) |/ _  |  / ___) _ \|  _ \
// | ( (/ /| |  | |_| | | | | | |  ( (__| |_| | | | | |  | ( ( | |_| |  | |_| | | | |
// |_|\____)_|   \___)____|_|_|_|   \____)___/|_| |_|_|  |_|\_|| (_)_|   \___/|_| |_|
// A WindowManager for Adventurers                         (____/
// For info about configuration please visit https://github.com/leftwm/leftwm/wiki

#![enable(implicit_some)]
(
    // Win key (modkey) - Mod4
    // Alt key - Mod1
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [],
    tags: [
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
        "10",
        "11",
        "12",
        "13",
        "14",
        "15",
        "16",
        "17",
        "18",
        "19",
    ],
    max_window_width: None,
    layouts: [
        MainAndVertStack,
        MainAndHorizontalStack,
        MainAndDeck,
        GridHorizontal,
        EvenHorizontal,
        EvenVertical,
        Fibonacci,
        LeftMain,
        CenterMain,
        CenterMainBalanced,
        CenterMainFluid,
        RightWiderLeftStack,
        LeftWiderRightStack,
        Monocle,
    ],
    layout_mode: Tag,
    insert_behavior: Bottom,
    scratchpad: [
        (name: "Alacritty", value: "alacritty", x: 860, y: 390, height: 300, width: 200),
    ],
    window_rules: [],
    disable_current_tag_swap: false,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    single_window_border: true,
    // single_window_border: false,
    sloppy_mouse_follows_focus: true,
    auto_derive_workspaces: true,
    keybind: [
        // Execute
        // Terminal
        (command: Execute, value: "alacritty", modifier: ["modkey"], key: "Return"),
        // Rofi
        (command: Execute, value: "rofi -modi 'clipboard:greenclip print' -show clipboard -run-command '{cmd}'", modifier: ["modkey"], key: "c"),
        (command: Execute, value: "rofi -show p -modi p:'rofi-power-menu --no-symbols'", modifier: ["modkey"], key: "p"),
        (command: Execute, value: "rofi -show drun", modifier: ["modkey"], key: "d"),
        (command: Execute, value: "rofi -show run", modifier: ["modkey"], key: "r"),
        (command: Execute, value: "rofi -show window", modifier: ["modkey"], key: "t"),
        // Lock screen
        // (command: Execute, value: "slock", modifier: ["modkey", "Control"], key: "l"),
        (command: Execute, value: "i3lock -c 000000", modifier: ["modkey", "Control"], key: "l"),
        // Zellij
        (command: Execute, value: "alacritty -e zellij", modifier: ["modkey"], key: "z"),
        // Bottom monitor
        (command: Execute, value: "alacritty -e btm", modifier: ["modkey"], key: "m"),
    //
        (command: CloseWindow, value: "", modifier: ["modkey"], key: "q"),
        // Config Reload
        (command: SoftReload, value: "", modifier: ["modkey", "Control"], key: "r"),
        // Kill Session
        (command: Execute, value: "loginctl kill-session $XDG_SESSION_ID", modifier: ["modkey", "Shift"], key: "x"),
        // Move window to last workspace
        (command: MoveToLastWorkspace, value: "", modifier: ["modkey", "Shift"], key: "w"),
        (command: SwapTags, value: "", modifier: ["modkey"], key: "w"),
        // Move
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "k"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "j"),
        (command: MoveWindowTop, value: "", modifier: ["modkey"], key: "f"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "Up"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "Down"),
        // Focus
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "l"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "h"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "k"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "j"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "Up"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "Down"),
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "Right"),
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "space"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "Left"),
        //
        (command: NextLayout, value: "", modifier: ["modkey"], key: "Tab"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Shift"], key: "Tab"),
        (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "Up"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "Down"),
        // (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "k"),
        // (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "j"),
    //
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "7"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "8"),
        (command: GotoTag, value: "9", modifier: ["modkey"], key: "9"),
        (command: GotoTag, value: "10", modifier: ["Mod1"], key: "0"),
        (command: GotoTag, value: "11", modifier: ["Mod1"], key: "1"),
        (command: GotoTag, value: "12", modifier: ["Mod1"], key: "2"),
        (command: GotoTag, value: "13", modifier: ["Mod1"], key: "3"),
        (command: GotoTag, value: "14", modifier: ["Mod1"], key: "4"),
        (command: GotoTag, value: "15", modifier: ["Mod1"], key: "5"),
        (command: GotoTag, value: "16", modifier: ["Mod1"], key: "6"),
        (command: GotoTag, value: "17", modifier: ["Mod1"], key: "7"),
        (command: GotoTag, value: "18", modifier: ["Mod1"], key: "8"),
        (command: GotoTag, value: "19", modifier: ["Mod1"], key: "9"),
    //
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6"),
        (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7"),
        (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8"),
        (command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9"),
        (command: MoveToTag, value: "10", modifier: ["Mod1", "Shift"], key: "0"),
        (command: MoveToTag, value: "11", modifier: ["Mod1", "Shift"], key: "1"),
        (command: MoveToTag, value: "12", modifier: ["Mod1", "Shift"], key: "2"),
        (command: MoveToTag, value: "13", modifier: ["Mod1", "Shift"], key: "3"),
        (command: MoveToTag, value: "14", modifier: ["Mod1", "Shift"], key: "4"),
        (command: MoveToTag, value: "15", modifier: ["Mod1", "Shift"], key: "5"),
        (command: MoveToTag, value: "16", modifier: ["Mod1", "Shift"], key: "6"),
        (command: MoveToTag, value: "17", modifier: ["Mod1", "Shift"], key: "7"),
        (command: MoveToTag, value: "18", modifier: ["Mod1", "Shift"], key: "8"),
        (command: MoveToTag, value: "19", modifier: ["Mod1", "Shift"], key: "9"),
    ],
    state_path: None,
)